In [3]:
#1
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats

data=pd.DataFrame({"Group1": [51,45,33,45,67],
    "Group2": [23,43,23,43,45],
    "Group3": [56,76,74,87,56]})
data

   Group1  Group2  Group3
0      51      23      56
1      45      43      76
2      33      23      74
3      45      43      87
4      67      45      56

In [4]:
f, p = stats.f_oneway(data['Group1'], data['Group2'], data['Group3'])
print("F value:", f, "\nP value:", p)

F value: 9.747205503009463
P value: 0.0030597541434430556

In [5]:
print("Null hypothesis rejected") if p < 0.05 else print("Failed to reject")

Null hypothesis rejected

In [11]:
#2
n = 30; C = 3
alpha = 0.01
means = [50.26,45.32,53.67 ] 
sd = [10.45,12.76,11.47 ]
tmean = sum(means)/3
SSC = 0
for i in means:
    SSC += ((i-tmean)**2)
SSC *= n
VC=C- 1
msc = SSC/VC
sse = 0
for i in sd:
    sse += i**2
mse=sse/(C*n-C)
fcalc = msc/mse
ftab = stats.f.ppf(q = 1 - alpha, dfn = C - 1, dfd = n*C-C)
print("E calculated:", fcalc, "\n tabulated: ", ftab)

E calculated: 113.9872218959763
 tabulated:  4.85777034759582

In [12]:
print("Null Hypothesis rejected") if fcalc > ftab else print("Failed to reject")

Null Hypothesis rejected

In [13]:
#3
corr, P = stats.pearsonr([43,21,25,42,57,59], [99,65,79,75,87,81])
print("correlation coefficient: ", corr)

correlation coefficient:  0.5298089018901743

In [14]:
#4
corr, p = stats.pearsonr([14.2,16.4,11.9,15.2,18.5,22.1,19.4,25.1,23.4,18.1,22.6,17.2],
                         [215,325,185,332,406,522,412,614,544,421,445,408])
print("Correlation coefficient: ", corr)

Correlation coefficient:  0.9575066230015952

In [15]:
#5
C = 3
r= 2
alpha = 0.05
result, p = stats.chisquare([200,250,150,300,50,50])
ftab = stats.chi2.ppf(1-alpha, (C-1)*(r-1))
print("F tabulated: ", ftab)

F tabulated:  5.991464547107979

In [16]:
print("Null hypothesis rejected") if result > ftab else print("Failed to reject")

Null hypothesis rejected

In [24]:
#6
C = 5
alpha=0.05
n = 1100
#since equal

x = [n/C for i in range(0,C)]
fcalc, p = stats.chisquare([262,234,204,190,210], x)

ftab = stats.chi2.ppf(1-alpha, (C - 1)) 
print("E calculated:", fcalc) 
print("F Tabulated:", ftab)

E calculated: 14.618181818181819
F Tabulated: 9.487729036781154

In [25]:
if fcalc > ftab:
    print("Null hypothesis rejected")
else:
    print("Failed to reject, proportions are same")

Null hypothesis rejected

In [26]:
#7
C = 7
alpha=0.01
n = 700
#since equal

x = [n/C for i in range(0,C)]
fcalc, p = stats.chisquare([65, 103, 114, 116, 115, 112, 75], x)
ftab = stats.chi2.ppf(1-alpha, (C - 1)) 
print("E calculated:", fcalc) 
print("F Tabulated:", ftab)

E calculated: 26.8
F Tabulated: 16.811893829770927

In [27]:
if fcalc > ftab:
    print("Null hypothesis rejected")
else:
    print("Failed to reject, proportions are same")

Null hypothesis rejected